@use '@/shared/styles/variables' as *;

.heading_1,
.heading_2,
.heading_3,
.heading_4,
.text_L,
.text_M,
.text_S,
.label {
  font-family: Poppins, sans-serif;
}

// Заголовки (жирные)
.heading_1,
.heading_2,
.heading_3,
.heading_4 {
  font-weight: 700;
}

// Основные тексты (нормальные)
.text_L,
.text_M,
.text_S {
  font-weight: 400;
}

// Другое
.label {
   font-weight: 600;
}

// Индивидуальные размеры и высоты строк
.heading_1 {
  font-size: var(--fs-heading_1);
  line-height: 105%;
}

.heading_2 {
  font-size: var(--fs-heading_2);
  line-height: 105%;
}

.heading_3 {
  font-size: var(--fs-heading_3);
  line-height: 105%;
}

.heading_4 {
  font-size: var(--fs-heading_4);
  line-height: 105%;
}

.text_L {
  font-size: var(--fs-text_L);
}

.text_M {
  font-size: var(--fs-text_M);
  line-height: 120%;
}

.text_S, .label {
  font-size: var(--fs-text_S);
  line-height: 150%;
}
