@use '@/shared/styles/variables' as *;

.heading_1,
.heading_2,
.heading_3,
.heading_4,
.text_L,
.text_M,
.text_S,
.link,
.label_S,
.label_M  {
  font-family: Poppins, sans-serif;
}

// Заголовки (жирные)
.heading_1,
.heading_2,
.heading_3,
.heading_4 {
  font-weight: 700;
}

// Основные тексты (нормальные)
.text_L,
.text_M,
.text_S,
.link {
  font-weight: 400;
}

// Другое
.label_S, .label_M {
   font-weight: 600;
}

// Индивидуальные размеры и высоты строк
.heading_1 {
  font-size: var(--fs-heading_1);
  line-height: 105%;
}

.heading_2 {
  font-size: var(--fs-heading_2);
  line-height: 105%;
}

.heading_3 {
  font-size: var(--fs-heading_3);
  line-height: 105%;
}

.heading_4 {
  font-size: var(--fs-heading_4);
  line-height: 105%;
}

.text_L {
  font-size: var(--fs-text_L);
}

.text_M, .label_M {
  font-size: var(--fs-text_M);
  line-height: 120%;
}

.text_S, .label_S {
  font-size: var(--fs-text_S);
  line-height: 150%;
}

.link {
  font-size: var(--fs-text_S);
  color: var(--color-green);
  border-bottom: 1px solid transparent;
  transition: border-color 0.1s;

  &:hover {
    border-color: var(--color-green);
  }
}
