@use "@/shared/styles/variables" as *;

.select {
   min-width: 8rem;
   width: 100%;

   &.error {
      .trigger {
         border-color: var(--color-red);
      }
   }

   &.disabled {
      .trigger {
         cursor: not-allowed;
         opacity: 0.6;
      }
   }
}

.trigger,
.popup {
   border-radius: var(--border-radius-sm);
   border: 1px solid var(--color-gray-light);
}

.trigger {
   width: 100%;
   cursor: pointer;
   height: 2.25rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   column-gap: 0.75rem;
   padding: 0.25rem 0.5rem;
   overflow: hidden;
   white-space: nowrap;

   &.placeholder &Text {
      color: var(--color-placeholder);
   }

   &Text {
      text-overflow: ellipsis;
      overflow: hidden;
      flex-shrink: 2;
   }

   &Actions {
      display: flex;
      align-items: center;
      column-gap: 0.375rem;
      font-size: 0;
   }
}

.popup {
   user-select: none;
   z-index: var(--z-select);
   background-color: var(--color-popup-content);
   border-radius: var(--border-radius-sm);
   padding: 0.35rem;
   width: 100%;

   &List {
      overflow: hidden;
   }
}

   .option {
      cursor: pointer;
      padding: 0.5rem 1rem 0.5rem 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: grid;
      gap: 0.15rem;
      grid-template-columns: 0.75rem 1fr;
      align-items: center;

      &Text {
         grid-column-start: 2;
      }

      &:hover {
         background-color: var(--color-gray-light);
      }
   }

.errorTooltip {
   color: var(--color-red);
}

.textEmpty {
   line-height: 0;
}
